# Jekyll core
_site/
.jekyll-cache/
.jekyll-metadata

# Dependencias de Ruby
.bundle/
vendor/
Gemfile.lock

# Archivos de configuración local (opcional)
.env

# Sistema operativo y editores
.DS_Store
Thumbs.db
.vscode/
*.swp
